<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1778613319">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>PWeb - by Gabriel Barbosa</title>
</head>
<body>
	<ul>
<li><a href="/">Início</a></li>
		<hr>
		<li><a href="/adicionarPessoa">Adicionar cliente</a></li>
		<li><a href="/listarClientes">Listar clientes</a></li>
		<hr>
		<li><a href="/public/sobre.html">Sobre o site</a></li>
	</ul>

	<div style="margin-left:25%;padding:1px 16px;height:1000px;">

		<h1>Formulário para edição de clientes:</h1>
		<form method="POST" th:object="${cliente}" th:action="@{/editar/{id}(id=${cliente.id})}">
			<p>
				Nome completo *: 
				<input type="text" th:field="*{nome}" placeholder="Seu nome completo" required>
			</p>
			<p>
				Endereço *:
				<input type="text" th:field="*{endereco}" placeholder="Logradouro" required>
			</p>
			<p>
				CEP *:
				<input type="text" th:field="*{cep}" placeholder="00000-000" required>
			</p>
			<p>
				Profissão *:
				<input type="text" th:field="*{profissao}" placeholder="Professor" required>
			</p>
			<p>
			
				e-Mail *: 
				<input type="text" th:field="*{email}" placeholder="nome@dominio.com" required>
			<p>
				Gênero*: 
			</p>
			<p>
				<input type="radio" name="genero" th:field="*{genero}" value="Masculino" required>Masculino
			</p>
			<p>
				<input type="radio" name="genero" th:field="*{genero}" value="Feminino" required>Feminino
			</p>
			<p>
				<input type="radio" name="genero" th:field="*{genero}" value="Não Informado" required>Não informar
			</p>
			<button class="button" type="reset">Reiniciar</button>
			<button class="button" type="submit">Editar!</button>
		</form>
		<p>* Campo Obrigatório</p>
		
		<h1>Lista de dependentes cadastrados</h1>
	<!--<form method="GET" th:object="${cliente}" th:action="@{/adicionarDependente/{id}(id=${cliente.id})}">
  		 <button class="button" type="submit">Adicionar</button>
  		 
   		 <a th:href="@{/adicionarDependente/(id=${cliente.id})}"> Adicionar dependente</a>
   		 <a class="button" href="/adicionarDependente?">Adicionar dependente</a>
	</form>-->
		 <a class="button" th:href="@{/adicionarDependente/?idP={id}(id=${cliente.id})}"> Adicionar</a>
		
	<table>
		<tr>
			<th>ID responsável</th>
			<th>ID</th>
			<th>Nome completo</th>
			<th>Genero</th>
			<th>Editar</th>
			<th>Remover</th>
		</tr>
		<tr th:each="dependente: ${dependentes}">
			<td th:text="${dependente.idPai}"></td>
			<td th:text="${dependente.id}"></td>
			<td th:text="${dependente.nome}"></td>
			<td th:text="${#temporals.format(dependente.dataNascimento, 'dd/MM/yyyy')}"></td>
			<td th:text="${dependente.genero}"></td>
			<td>
				<a th:href="@{/dependente/editar/{id}(id=${dependente.id})}">Editar</a>
			</td>
			<td>
				<a th:href="@{/dependente/remover/{id}(id=${dependente.id})}">Remover</a>
			</td>
	  	</tr>
	</table>
</body>
</html>